$blue:#005EF3;
$light-blue: #4C8EF7;
$red: #F64D40;
$gold: #B19B69;
$light-gold: #E5DECC;
$black: #000000;
$dark-grey: #7D7D7D;
$grey: #C4C4C4;
$light-grey: #E0E0E0;
$invisible-grey: #F3F3F3;
$white: #fff;
$green: #8DCA78;